@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

html, body {
  margin: 0;
  padding: 0;
}

.cotainter {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  padding: 50px;
  text-align: center;
  display: block;
}

.head {
  padding: 30px;
  text-align: center;
  background-color: #ACBD86;
}

.block1 {
  padding-bottom: 80px;
}

.block2 {
  padding: 25px;
}

.block1, .block2 {
  width: 100%;
}

.title {
  border: 1px solid #fff;
  padding: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  letter-spacing: 10px;
  font-family: Quicksand;
  font-size: 20px;
}

.title-in {
  padding-top: 30px;
  padding-bottom: 5px;
  margin: 0;
  border: 3px solid #ACBD86;
}

.title-line {
  width: 35px;
  margin-left: auto;
  margin-right: auto;
  border-top: 2.5px solid #ACBD86;
}

.title-name {
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 20px;
}

.left, .right {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
  float: right;
  padding-left: 30px;
}

.left-top {
  width: 100%;
  padding: 10px;
  background-color: #ACBD86;
}

.left-pic {
  width: 80%;
  height: 0px;
  padding-bottom: 80%;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.left-pic img {
  width: 100%;
}

.name-c, .name-e {
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  margin: 10px;
}

.name-e {
  font-size: 15px;
}

.left-bottom {
  padding: 25px;
  background-color: #eee;
}

.intro-title {
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.intro-text {
  text-align: left;
  font-size: 17px;
}

.intro-text i {
  color: #ACBD86;
}

.intro-icon {
  margin-left: 0;
}

.icon-out {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  min-width: 50px;
  min-height: 50px;
  background-color: #ACBD86;
  display: inline-block;
  margin-right: 0;
  transition: 0.3s;
  cursor: pointer;
}

.icon-out:hover {
  background-color: #D95858;
}

.icon-in {
  color: #fff;
  text-align: center;
  position: relative;
  padding-top: 50%;
  transform: translateY(-30%);
  font-size: 30px;
}

.icon1 {
  margin-right: 25px;
}

.right-title {
  height: 50px;
  width: 240px;
}

.rt-out {
  width: 40px;
  height: 40px;
  background-color: #ACBD86;
  border-radius: 50%;
  display: inline-block;
  float: left;
}

.rt-in {
  color: #fff;
  padding-top: 5px;
}

.colli-in {
  color: #fff;
  padding-top: 7px;
  font-size: 18px;
  text-align: center;
}

.rt-text {
  float: left;
  margin-left: 15px;
  margin-top: 7px;
  font-family: Josefin Sans;
  font-size: 18px;
  font-weight: bold;
}

.coll-icon {
  color: #000;
}

.timeline {
  margin-left: 55px;
  margin-top: 10px;
  width: 200px;
}

.t-col {
  height: 250px;
  width: 50%;
}

.t-col2 {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  height: 450px;
}

.t-col3 {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  height: initial;
  margin-bottom: 30px;
}

.tl-line {
  width: 0px;
  height: 160px;
  border-right: 2.5px solid #393E46;
  border-left: 2.5px solid #393E46;
  border-radius: 5px;
  display: inline-block;
  float: left;
}

.tl-line2 {
  height: 360px;
  float: left;
}

.tl-1, .tl-2 {
  position: relative;
  right: 5px;
  bottom: 8px;
}

.tl-2 {
  top: 40px;
}

.tl-3 {
  position: relative;
  top: 90px;
  right: 5px;
}

.timeline2 .tl-2 {
  top: 125px;
}

.timeline2 .tl-3 {
  top: 230px;
}

.tl-dot {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #393E46;
}

.tl-text {
  position: relative;
  display: inline-block;
  float: left;
  margin-left: 20px;
  bottom: 60px;
  width: 170px;
}

.tl-text2 {
  position: relative;
  display: inline-block;
  float: left;
  margin-left: 20px;
  bottom: 60px;
  width: 130px;
}

.tl-text3 {
  width: 280px;
  text-align: left;
  bottom: 375px;
  padding-left: 10px;
}

.tl-t1, tl-t2, tl-t3 {
  text-align: left;
}

.tl-t2 {
  position: relative;
}

.edu-t {
  font-size: 12px;
  font-weight: normal;
  color: #919190;
  letter-spacing: normal;
  margin-right: auto;
  float: left;
}

.job {
  float: right;
  position: relative;
  font-size: 16px;
  top: 5px;
  font-weight: bold;
}

.job-section {
  font-weight: bold;
}

.br {
  display: none;
}

.job-pro {
  font-size: 14px;
}

.jobblock {
  position: relative;
  bottom: 10px;
}

.int {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ACBD86;
}

.int-item {
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
  margin: 0;
  float: right;
}

.int-item1 {
  float: initial;
}

.icon-int {
  font-size: 50px;
  color: #ACBD86;
}

.int-t {
  position: relative;
  font-size: 15px;
  font-family: "Julius Sans One";
  top: 5px;
}

.coll-tab {
  margin-top: 15px;
}

.coll-option {
  text-align: center;
  border: 2px solid #ACBD86;
  width: 220px;
  font-size: 15px;
  padding: 8px;
  font-weight: bold;
  display: inline-block;
  font-family: "Julius Sans One";
  cursor: pointer;
  transition-duration: 0.3s;
  min-width: 100px;
}

.opt2 {
  margin-left: 20px;
}

.coll-option:hover {
  background-color: #ACBD86;
  color: #fff;
}

.cwf-tab {
  margin-top: 30px;
}

.cwf-option {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ACBD86;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}

.cwf-option:hover {
  background-color: #D95858;
}

.cwf-optiontext {
  position: relative;
  color: #fff;
  font-size: 22px;
  top: 3px;
  font-family: "Quicksand";
}

.opt1 {
  margin-right: 30px;
}

.coll-work {
  height: auto;
}

.cw-right, .cw-left {
  width: 80%;
  font-size: 50px;
  display: inline-flex;
  height: 50px;
  text-align: center;
  height: auto;
}

.cw-left {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ACBD86;
  border-radius: 10px;
  padding: 30px;
}

.coll-img {
  width: 100%;
  height: auto;
  z-index: 4;
}

.coll-img img {
  width: 100%;
}

.proname {
  width: 100%;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  font-family: "Julius Sans One";
  text-align: left;
  font-style: italic;
}

.cw-proname {
  width: 100%;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  font-family: "Julius Sans One";
  text-align: left;
  font-style: italic;
  letter-spacing: 2px;
}

.cw-introfix {
  position: relative;
  width: 50%;
  float: left;
  font-style: initial;
}

.cw-line {
  width: 40px;
  height: 0;
  border: 1px solid #fff;
  margin-top: 10px;
  margin-bottom: 15px;
}

.cw-introtext {
  font-size: 16px;
  text-align: left;
  color: #fff;
  font-family: "Noto Sans TC";
  font-weight: normal;
  letter-spacing: initial;
  padding: 10px;
}

.change-tit {
  font-weight: bold;
  font-size: 20px;
}

.coll-btn {
  position: relative;
  top: 50%;
  z-index: 6;
  transform: translateY(-50%);
}

.slider-left, .slider-right {
  display: inline-block;
  right: 10%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 30px 20px 0;
  border-color: transparent #ACBD86 transparent transparent;
  cursor: pointer;
  transition-duration: 0.3s;
}

.slider-right {
  position: relative;
  float: right;
  left: 35px;
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #ACBD86;
}

.slider-left:hover {
  opacity: 0.5;
}

.slider-right:hover {
  opacity: 0.5;
}

.slider-left {
  position: relative;
  float: left;
  right: 35px;
}

.coll-slider {
  position: relative;
  display: inline-block;
}

.img-slider1 {
  position: relative;
  display: none;
}

.cwf-pro1 {
  position: relative;
  bottom: 20px;
}

@media screen and (max-width: 650px) {
  .left, .right {
    width: 80%;
  }

  .t-col {
    margin-top: 20px;
    width: 100%;
  }

  .br {
    display: block;
  }

  .job {
    float: left;
    font-size: 15px;
  }

  .br2 {
    display: none;
  }

  .tl-text3 {
    width: 200px;
  }

  .edut-f {
    padding-left: 12px;
    position: relative;
    top: 5px;
  }

  .edut-f1 {
    position: relative;
    padding-left: 30px;
    top: 5px;
  }

  .timeline {
    margin-left: 30px;
  }

  .int-item {
    width: 50%;
  }

  .int-item2 {
    float: initial;
  }

  .int-itemt {
    margin-top: 10px;
  }

  .coll-option {
    font-size: 10px;
    width: 80px;
    display: inline-block;
  }

  .block1 {
    padding-bottom: 1300px;
  }

  .cw-right, .cw-left {
    width: 100%;
  }

  .cw-introfix {
    width: 100%;
    padding: 0;
  }

  .cw-introtext {
    padding: 0;
  }
}
@media screen and (max-width: 400px) {
  .left, .right {
    width: 100%;
  }

  .t-col {
    margin-top: 20px;
    width: 100%;
  }

  .rt-size {
    font-size: 17px;
  }
}
